.bg-header { /* Farbe der Navigation wird festgelegt */
    background-color: #002060 !important;
}
.bg-footer { /* Farbe des Footers wird festgelegt */
    background-color: #002060; !important;
}

.text-white { /* Färbt Text weiß */
    color: white;
}

.table-dark i:hover { /* Icons färben sich blau beim überfahren mit Cursor */
    color: lightskyblue;
}