body {
    padding-top: 8rem;
}

.bg-header { /* Farbe der Navigation wird festgelegt */
    background-color: #3F7884 !important;
}

.nav-pills .nav-link.active {
    background-color: #213f45 !important;
}

.bg-footer { /* Farbe des Footers wird festgelegt */
    background-color: #3F7884 !important;
}

.btn-primary {
    background-color: #5893A2 !important;
    border-color: #5893A2 !important;
}

.btn-info {
    background-color: #97D1C9 !important;
    border-color: #97D1C9 !important;
}

.btn-success {
    background-color: #2b7865 !important;
    border-color: #2b7865 !important;
}

.btn-danger {
    background-color: #812029 !important;
    border-color: #812029 !important;
}

a {
    color: white !important;  /* Farbe des Links */
}

a:hover {
    color: #97D1C9 !important;
}

a:active {
    color: #7CEEDF !important;
}


.text-white { /* Färbt Text weiß */
    color: white;
}

.columnContainer {
    max-width: 23rem;
    min-width: 19rem;
    max-height: 70vh;
}

.table-primary thead {
    background-color: #97D1c9 !important;
    color: black !important;
}

#crudModal > .modal-content {
    z-index: 9999;
    background-color: #343434;
}